<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Registra tus datos</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form">
                                    <div class="form-group">
<label> Ciudad </label>
<br><br>
<input type="text" ng-model="ciudad">
<br><br>
<label> Localidad </label>
<br><br>
<input type="text" ng-model="localidad">
<br><br>
<label> Barrio </label>
<br><br>
<input type="text" ng-model="barrio">
<br><br>
<label> EdadPadre </label>
<br><br>
<input type="number" ng-model="edadPadre">
<br><br>
<label> OcupacionPadre </label>
<br><br>
<input type="text" ng-model="ocupacionPadre">
<br><br>
<label> TelefonoPadre </label>
<br><br>
<input type="number" ng-model="telefonoPadre">
<br><br>
<label> EdadMadre </label>
<br><br>
<input type="number" ng-model="edadMadre">
<br><br>
<label> OcupacionMadre </label>
<br><br>
<input type="text" ng-model="ocupacionMadre">
<br><br>
<label> TelefonoMadre </label>
<br><br>
<input type="number" ng-model="telefonoMadre">
<br><br>
<label> Aseguradora </label>
<br><br>
<input type="text" ng-model="aseguradora">
<br><br>
<label> Vinculacion </label>
<br><br>
<input type="text" ng-model="vinculacion">
<br><br>
                                    </div>
                                    <button type="submit" class="btn btn-default" ng-click="update()">Actualizar</button>
                                    <button class="btn btn-default" ng-click="back()">Atras</button>
                                    <button type="reset" class="btn btn-default">Reiniciar</button>
                                </form>
                            </div>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

