<div ng-controller="templateDoctorCtrl">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Multiple Client</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
        	<li><a ng-click="continuePerfil()"><i class="fa fa-user fa-fw"></i> Perfil </a>
            </li>
            <li><a ng-click="continueLogoutD()"><i class="fa fa-sign-out fa-fw"></i> Cerrar Sesi&oacuten</a>
            </li>
        </ul>
        <!-- /.navbar-top-links -->
        <div class="row">
            <div class="col-lg-12">

                <button type="button" class="btn btn-outline btn-info" ng-click="continueHomeD()">Inicio</button>

                <button type="button" class="btn btn-outline btn-info" ng-click="continueRegisterPatient()">Registrar nuevo paciente</button>
                <button ng-show="FindID" type="button" class="btn btn-outline btn-info" ng-click="continueRegistersPProgramaIndividual()">Registros de ProgramaIndividual</button>
                <button ng-show="FindID" type="button" class="btn btn-outline btn-info" ng-click="continueRegisterPuntuacion()">Registrar nueva puntuación</button>
                <button ng-show="FindID" type="button" class="btn btn-outline btn-info" ng-click="continueRegisterObjetivo()">Consulta y Registro de objetivos</button>
                <button ng-show="FindID" type="button" class="btn btn-outline btn-info" ng-click="continuePatientProfile()">Información del paciente</button>
                <button ng-show="FindID" type="button" class="btn btn-outline btn-info" ng-click="continueCrearReporte()">Nuevo Reporte</button>
            
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
</div>