<div ng-controller="templateDoctorCtrl">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Multiple Client</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
        	<li><a ng-click="continuePerfil()"><i class="fa fa-user fa-fw"></i> Perfil </a>
            </li>
            <li><a ng-click="continueLogoutD()"><i class="fa fa-sign-out fa-fw"></i> Cerrar Sesion</a>
            </li>
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a ng-click="continueHomeD()"><i class="fa fa-dashboard fa-fw"></i>Inicio</a>
                    </li>
                    <li ng-show="FindID">
                        <a  ng-click="continueRegistersPProgramaIndividual()"><i class="fa fa-table fa-fw"></i> Registros de ProgramaIndividual</a>
                    </li>
                     <li ng-show="FindID">
                        <a  ng-click="continueRegisterPuntuacion()"><i class="fa fa-edit fa-fw"></i> Registrar nueva puntuación</a>
                    </li>
                     <li ng-show="FindID">
                        <a  ng-click="continueRegisterObjetivo()"><i class="fa fa-edit fa-fw"></i> Consulta y Registro de objetivos</a>
                    </li>
                    <li ng-show="FindID">
                        <a  ng-click="continuePatientProfile()"><i class="fa fa-user fa-fw"></i> Información del paciente </a>
                    </li>
                    <li>
                        <a  ng-click="continueRegisterPatient()"><i class="fa fa-edit fa-fw"></i> Registrar nuevo paciente</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
</div>
