<div ng-include="'/app/Templates/templateDoctor.html'"></div>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Objetivos programa individual</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Registra el nuevo objetivo</h1>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form">
                                    <div class="form-group">
                                        <label> Area </label>
                                        <input type="checkbox" ng-model="checkboxModel.area">
                                        <label> Subarea </label>
                                        <input type="checkbox" ng-model="checkboxModel.subarea">
                                        <label> Objetivo </label>
                                        <input type="checkbox" ng-model="checkboxModel.objetivo">

                                        <div ng-show="checkboxModel.area">
                                            <input type="text" ng-model="areaNew">
                                            <button type="button" class="btn btn-success" ng-click="saveArea()">Guardar Area</button>
                                        </div>
                                        <div ng-show="checkboxModel.subarea">
                                            <select ng-model="areaSelected" ng-options="area as area.nombre for area in areas track by area.idarea" >
                                                <option value="">--Elige opcion--</option>
                                            </select>
                                            <input type="text" ng-model="subareaNew">
                                            <button type="button" class="btn btn-success" ng-click="saveSubarea()">Guardar Subarea</button>
                                        </div>
                                        <div ng-show="checkboxModel.objetivo">
                                            <select ng-model="subareaSelected" ng-options="subarea as subarea.nombre for subarea in subareas track by subarea.idsubarea" >
                                                <option value="">--Elige opcion--</option>
                                            </select>
                                            <input type="text" ng-model="objetivoNew">
                                            <button type="button" class="btn btn-success" ng-click="saveObjetivo()">Guardar Objetivo</button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
